@import "tailwindcss";

/* System Color Defaults */
:root {
	--bg: #ffffff;
	--fg: #171717;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #0a0a0a;
		--fg: #f5f5f5;
	}
}

/* Explicitly Set Theme Colors */
html.dark {
	--bg: #111111;
	--fg: #f5f5f5;

	--section-bg: #292929;
}
html.light {
	--bg: #e5e5e5;
	--fg: #0a0a0a;

	--section-bg: #ffffff;
}

@theme inline {
	--color-background: var(--bg);
	--color-foreground: var(--fg);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

html, body {
	background: var(--bg);
	color: var(--fg);
}

.header-bg {
	background-color: #E26D5A;
	color: #f5f5f5;
}

.section-bg {
	background-color: var(--section-bg);
}

/* Global Transitions  */
body {
	transition: color 300ms, background-color 300ms, border-color 300ms;
}